<h1>Your Reservation Details are Below</h1>

<p>Date: <%=  @reservation.day  %> <br> </p>
<p>Time: <%=  @reservation.time %> <br> </p>
<p>Restaurant Name:  <%=  @reservation.restaurant.name %> <br> </p>



<%= image_tag "coupon.jpg" %>
