header {
  background-image: url("cook-food-kitchen-eat-54455 (1).jpeg");
  height: 600px;
  width: 100%;

}

header h1 {
  font-family: 'Lobster Two', cursive;
  color: red;
  font-size: 150px;
  font-size: 16vw;
}

.new_resv {

  color: white;
  text-decoration-style: solid;
  font-size: 24px;


}
